extends layout

block content
	h1  香港手作(管理員登錄)

	<br/>


	div#login(style={width:'500px'})
		form(action='/login', method='post')
			input(type='hidden', id='action-log', name='action', value='login')
			table.table
				tr
					td  用戶名
					td 
						input.form-control(id='manager', name='manager' type='text')
				tr
					td  密碼
					td 
						input.form-control(id='password', name='password', type='password')
				tr
					td(colspan='2')
						input.form-control(type='submit', id='login')

		style.
			input#maker-login, input#maker-register{
				width:120px;
				margin: auto;
				margin-top: 20px;
			}

